<nav>
    <a href="https://webpages.charlotte.edu/jlee356/">Charlotte.edu</a> ||
    <a href="https://github.com/justinhlee01">Github</a> ||
    <a href="https://justinhlee01.github.io/itis3135/">Github.io</a> ||
    <a href="https://www.freecodecamp.org/fcc06a06581-0072-4ac8-9fef-25472693c6bc">freeCodeCamp</a> ||
    <a href="https://www.codecademy.com/profiles/core2522854173">Codeacademy</a> ||
    <a href="http://www.linkedin.com/in/justinhlee01">LinkedIn</a>
    
  </nav>
  <p><i>Page Built by <a href="justinwebsolutions.com">Justin Web Solution </a>&copy;2025, Certified in <a href="https://freecodecamp.org/certification/fcc06a06581-0072-4ac8-9fef-25472693c6bc/responsive-web-design">Responsive Web Design</a></i> </p>