<h1>Justin Lee's Jagged Lizard || ITSC 3135</h1>
<nav>
  <a href="./">Home</a> || <a href="introduction.html">Introduction</a> ||
  <a href="contract.html">Contract</a> ||
  <a href="jhksdfaljksdf.html">Crappy Website</a> ||
  <a href="website_evaluations.html">Website Evaluations</a> ||
  <a href="tables.html">Whimsical Company</a> ||
  <a href="project_overview.html">Project Overview</a> ||
  <a href="byo_intro.html">BYO Intro</a> ||
  <a href="forms.html">Form</a> ||
  <a href="slideshow.html">Slideshow</a> ||
  <a href="drawing.html">Drawing</a>


</nav>
